<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mumu-架构师测试QVM</title>
    <style media="screen">
      *[v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <!-- <h1>欢迎使用QVM  ^_^!</h1> -->
    <!-- <div  class="box aaa" v-show="aaa" v-if="bb" v-once  title="aa" :a="12" :a="5" v-bind:title="a+b" v-bind:value="b"  @click="fn(12,5)"> -->
    <div id="app" v-cloak>
       12312312
      </div>
      <script src="./js/about_about1.qui.js"></script>
      </body>
      </html>